[workspace]
resolver = "2"
default-members = ["crates/agglayer-prover"]
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(feature, values("cargo-clippy"))',
] }

[workspace.dependencies]
# Project dependencies
aggkit-prover = { path = "crates/aggkit-prover" }
aggkit-prover-types = { path = "crates/aggkit-prover-types" }
aggkit-prover-config = { path = "crates/aggkit-prover-config" }
agglayer-prover = { path = "crates/agglayer-prover" }
agglayer-prover-types = { path = "crates/agglayer-prover-types" }
agglayer-prover-config = { path = "crates/agglayer-prover-config" }
prover-engine = { path = "crates/prover-engine" }
prover-logger = { path = "crates/prover-logger" }
prover-executor = { path = "crates/prover-executor" }
prover-config = { path = "crates/prover-config" }
prover-utils = { path = "crates/prover-utils" }

agglayer-telemetry = { git = "https://github.com/agglayer/agglayer.git", branch = "release/0.2.1" }
agglayer-types = { git = "https://github.com/agglayer/agglayer.git", branch = "release/0.2.1" }
pessimistic-proof = { git = "https://github.com/agglayer/agglayer.git", branch = "release/0.2.1" }

# Core dependencies
alloy = { version = "0.8.1", features = ["full"] }
anyhow = "1.0.94"
arc-swap = "1.7.1"
async-trait = "0.1.86"
base64 = "0.22.0"
bincode = "1.3.3"
buildstructor = "0.5.4"
clap = { version = "4.5.23", features = ["derive", "env"] }
dirs = "5.0.1"
dotenvy = "0.15.7"
ethers = "2.0.14"
ethers-gcp-kms-signer = "0.1.5"
ethers-signers = "2.0.14"
futures = "0.3.31"
hex = "0.4.3"
hyper = "1.6.0"
jsonrpsee = { version = "0.24.7", features = ["full"] }
lazy_static = "1.5.0"
parking_lot = "0.12.3"
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.138"
serde_with = "3.11.0"
thiserror = "2.0.7"
tokio = { version = "1.42.0", features = ["full"] }
tokio-stream = { version = "0.1.17", features = ["sync"] }
tokio-util = "0.7.13"
toml = "0.8.15"
tonic = { version = "0.12.3", default-features = false }
tower = "0.5.2"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = { version = "2.5.4", features = ["serde"] }

# Test dependencies
fail = { version = "0.5.1", default-features = false }
insta = { git = "https://github.com/freyskeyd/insta", branch = "chore/updating-deps-to-avoid-serialize-error", features = [
    "toml",
    "yaml",
] }
mockall = "0.13.1"
rand = "0.8.5"
rstest = "0.22.0"
test-log = "0.2.16"

# SP1 dependencies
sp1-core-machine = "=4.0.0"
sp1-sdk = "=4.0.0"
sp1-prover = "=4.0.0"
