[workspace]
resolver = "2"
default-members = ["crates/agglayer-prover", "crates/aggkit-prover"]
members = ["crates/*"]
exclude = ["crates/prover-dummy-program", "crates/aggchain-proof-program"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(feature, values("cargo-clippy"))',
] }

[workspace.dependencies]
# Project dependencies
aggchain-customchaindata-builder = { path = "crates/aggchain-customchaindata-builder" }
aggchain-proof-builder = { path = "crates/aggchain-proof-builder" }
aggchain-proof-contracts = { path = "crates/aggchain-proof-contracts" }
aggchain-proof-core = { path = "crates/aggchain-proof-core" }
aggchain-proof-service = { path = "crates/aggchain-proof-service" }
aggchain-proof-types = { path = "crates/aggchain-proof-types" }
aggkit-prover = { path = "crates/aggkit-prover" }
aggkit-prover-config = { path = "crates/aggkit-prover-config" }
aggkit-prover-types = { path = "crates/aggkit-prover-types" }
agglayer-prover = { path = "crates/agglayer-prover" }
agglayer-prover-config = { path = "crates/agglayer-prover-config" }
agglayer-prover-types = { path = "crates/agglayer-prover-types" }
proposer-client = { path = "crates/proposer-client" }
proposer-elfs = { path = "crates/proposer-elfs" }
proposer-service = { path = "crates/proposer-service" }
prover-alloy = { path = "crates/prover-alloy" }
prover-config = { path = "crates/prover-config" }
prover-elf-utils = { path = "crates/prover-elf-utils" }
prover-engine = { path = "crates/prover-engine" }
prover-executor = { path = "crates/prover-executor" }
prover-logger = { path = "crates/prover-logger" }
prover-utils = { path = "crates/prover-utils" }

agglayer-telemetry = { git = "https://github.com/agglayer/agglayer.git", branch = "release/0.2.1" }

# Interop dependencies
agglayer-interop = { git = "https://github.com/agglayer/interop.git", tag = "v0.2.0" }
agglayer-interop-types = { git = "https://github.com/agglayer/interop.git", tag = "v0.2.0" }
agglayer-primitives = { git = "https://github.com/agglayer/interop.git", tag = "v0.2.0" }
agglayer-tries = { git = "https://github.com/agglayer/interop.git", tag = "v0.2.0" }
unified-bridge = { git = "https://github.com/agglayer/interop.git", tag = "v0.2.0" }

# Ecosystem dependencies
op-succinct-elfs = { git = "https://github.com/agglayer/op-succinct.git", branch = "vcastellm/agglayer" }

# Core dependencies
alloy = { version = '0.12.6', features = ["full"] }
alloy-sol-types = "0.8.21"
alloy-primitives = { version = "0.8.15", features = ["serde", "k256"] }
anyhow = "1.0.94"
arc-swap = "1.7.1"
async-trait = "0.1.82"
base64 = "0.22.0"
bincode = "1.3.3"
buildstructor = "0.5.4"
clap = { version = "4.5.23", features = ["derive", "env"] }
dirs = "5.0.1"
dotenvy = "0.15.7"
educe = "0.6"
ethers = "2.0.14"
ethers-gcp-kms-signer = "0.1.5"
ethers-signers = "2.0.14"
eyre = "0.6.12"
futures = "0.3.31"
hex = "0.4.3"
hyper = "1.5.2"
jsonrpsee = { version = "0.24.7", features = ["full"] }
lazy_static = "1.5.0"
parking_lot = "0.12.3"
pbjson = "0.7.0"
prost = "0.13.4"
reqwest = "0.12"
semver = "1.0"
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.133"
serde_with = "3.11.0"
thiserror = "2.0.7"
tokio = { version = "1.42.0", features = ["full"] }
tokio-stream = { version = "0.1.17", features = ["sync"] }
tokio-util = "0.7.13"
toml = "0.8.15"
tonic = { version = "0.12.3", default-features = false }
tonic-types = "0.12.3"
tower = "0.4.13"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = { version = "2.5.4", features = ["serde"] }

# Test dependencies
fail = { version = "0.5.1", default-features = false }
insta = { git = "https://github.com/freyskeyd/insta", branch = "chore/updating-deps-to-avoid-serialize-error", features = [
    "toml",
    "yaml",
] }
mockall = "0.13.1"
mockito = "1.6.1"
rand = "0.8.5"
rstest = "0.22.0"
test-log = "0.2.16"

# SP1 dependencies
sp1-core-executor = "=4.1.4"
sp1-core-machine = "=4.1.4"
sp1-sdk = "=4.1.4"
sp1-prover = "=4.1.4"
sp1-zkvm = "=4.1.4"
sp1-cc-client-executor = { git = "https://github.com/succinctlabs/sp1-contract-call/", rev = "83ca051cd5c5d4e7b4ffd2919dc06b2ef6cae127" }
sp1-cc-host-executor = { git = "https://github.com/succinctlabs/sp1-contract-call/", rev = "83ca051cd5c5d4e7b4ffd2919dc06b2ef6cae127" }
