[package]
name = "aggchain-proof-core"
version = "0.1.0"
edition = "2021"

[dependencies]
alloy-primitives.workspace = true
k256 = "0.13.4"
serde = { version = "1.0.217", features = ["derive"] }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes.git", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
thiserror = "2.0.8"
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", tag = "patch-2.0.2-sp1-4.0.0", features = [
    "keccak",
] }

sp1-zkvm = { version = "=4.0.1", features = ["verify"] }
