[package]
name = "proposer-client"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
hex.workspace = true
prover-utils.workspace = true
reqwest = { workspace = true, features = ["json"]}
serde.workspace = true
thiserror.workspace = true
tonic = { workspace = true, default-features = false, features = [
    "prost",
    "codegen",
    "transport",
] }
tokio.workspace = true
tracing.workspace = true

sp1-sdk = { workspace = true, features = ["native-gnark"] }


[features]
default = []
testutils = []
