[package]
name = "proposer-service"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
alloy-primitives.workspace = true
anyhow.workspace = true
futures.workspace = true
serde.workspace = true
sp1-sdk.workspace = true
tower = { workspace = true, features = ["timeout"] }
thiserror.workspace = true
url.workspace = true

proposer-client.workspace = true
prover-alloy.workspace = true

[dev-dependencies]
alloy-primitives = { workspace = true }
mockall = { workspace = true }
proposer-client = { workspace = true, features = ["testutils"] }
prover-alloy = { workspace = true, features = ["testutils"] }
tokio = { workspace = true }

[lints]
workspace = true
