[package]
name = "proposer-service"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
bincode.workspace = true
futures.workspace = true
http = "1.2.0"
serde.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-util.workspace = true
tonic = { workspace = true, features = ["zstd"] }
tower = { workspace = true, features = ["timeout"] }
thiserror.workspace = true
tracing.workspace = true

aggkit-prover-config.workspace = true
aggkit-prover-types.workspace = true
proposer-client.workspace = true
prover-engine.workspace = true
prover-logger.workspace = true

[lints]
workspace = true
