[package]
name = "proposer-service"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
futures.workspace = true

serde.workspace = true
tower = { workspace = true, features = ["timeout"] }
thiserror.workspace = true

sp1-sdk = { workspace = true, features = ["native-gnark"] }

aggkit-prover-config.workspace = true
aggkit-prover-types.workspace = true
proposer-client.workspace = true
prover-engine.workspace = true
prover-logger.workspace = true
url = "2.5.4"

[lints]
workspace = true
